@import url(fonts.css);
@import url(reset.css);

.wrapper {
	overflow: clip;
	min-height: 100%;
}



[class*="__container"] {
	max-width: 830px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header {
	background-color: #5dac3e;
	padding: 15px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.menu {
	text-align: center;
}
.menu__item {
	display: inline-block;
	position: relative;
}
.menu__link {
	background-color: #6b5734;
	display: inline-block;
	padding: 10px;
}
.menu__item:hover .menu__link {
	background-color: #c31010;
}

.menu__item:hover .sub-menu {
	visibility: visible;
}

.sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	padding-top: 5px;
	color: #000;
	width: 150px;
	text-align: center;
	visibility: hidden;
}
.sub-menu__item {
	background-color: yellow;
}

.sub-menu__link {
	display: inline-block;
	padding: 10px;
}

.sub-menu__link:hover {
	text-decoration: underline;
}

.page {
	padding-top: 100px;
	padding-bottom: 100px;
}
.page__container {
	font-size: 0;
}
.side {
	display: inline-block;
	width: 200px;
	background-color: #7a1890;
	padding: 15px;
	font-size: 14px;
	vertical-align: top;
}
.content {
	font-size: 14px;
	display: inline-block;
	padding: 15px;
	width: 600px;
	background-color: #971313;
}

.side {
	position: sticky;
	top: 80px;
}

.menu-side__item {
	position: relative;
}

.menu-side__item:not(:last-child) {
	margin-bottom: 5px;
}
.menu-side__link {
	background-color: #c22929;
	display: block;
	text-align: center;
	padding: 10px;
	font-size: 16px;
}

.menu-side__item:hover .menu-side__link {
	background-color: #953434;
}

.menu-side__item:hover .sub-menu-side {
	visibility: visible;
}
.sub-menu-side {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 5px;
	width: 200px;
	visibility: hidden;
}
.sub-menu-side__list {
	background-color: #5eae3f;
	position: relative;
}
.sub-menu-side__link {
	display: block;
	padding: 5px;
}

.sub-menu-side__link:hover {
	text-decoration: underline;
}

.sub2-menu-side {
	position: absolute;
	top: 0;
	left: 100%;
	color: #000;
	background-color: #104b7b;
	width: 200px;
	padding: 10px;
	display: inline-block;
	visibility: hidden;
}
.sub2-menu-side__list {
	background-color: #470e7d;
}

.sub2-menu-side__list:not(:last-child) {
	padding-bottom: 5px;
}
.sub2-menu-side__link {
	background-color: #b40e90;
	padding: 7px;
	display: block;
}

.sub2-menu-side__link:hover {
	background-color: #75095d;
}

.sub-menu-side__list:hover .sub2-menu-side {
	visibility: visible;
}

.info {
	width: 950px;
	margin: 0 auto;
	top: 500px;
}

.info__title {
	font-size: 30px;
	text-align: center;
	background-color: #bdbf3a;
	padding: 15px;
	position: sticky;
	top: 65px;
}

.info__text {
	font-size: 16px;
}
/* =========================MEET========================== */
.meet {
	width: 100%;
}
.meet__container {
	max-width: 1250px;
	margin: 0 auto;
}
.meet__title {
	text-align: center;
	font-size: 35px;
	color: #37393f;
	margin-bottom: 20px;
}
.meet__cards {
	margin: 0 auto;
}
.card {
	font-size: 0;
	width: 1220px;
}
.card__wrapper {
	display: inline-block;
	position: relative;
	font-size: 0;
	margin-right: 31px;
}
.card__img {
	max-width: 386px;
	width: 100%;
}

.card__wrapper::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #6b77e5;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.card__wrapper:hover .card__social,
.card__wrapper:hover::before {
	visibility: visible;
}
.card__wrapper:nth-child(3),
.card__wrapper:nth-child(6) {
	margin-right: 0px;
}

.card__wrapper:nth-child(1),
.card__wrapper:nth-child(2),
.card__wrapper:nth-child(3) {
	margin-bottom: 31px;
}
.card__name {
	width: 341px;
	text-align: center;
	background-color: #fff;
	padding: 24px;
	position: absolute;
	bottom: 22px;
	left: 22px;
	z-index: 40;
}

.name__name {
	color: #37393f;
	text-align: center;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
}
.name__prof {
	color: #7d7d7d;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3;
}
.card__social {
	position: absolute;
	top: 240px;
	left: 108px;
	visibility: hidden;
}

.card__link {
	display: inline-block;
}
.card__svg {
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.card__svg:hover {
	transition: 0.3s;
	box-shadow: 7px 5px 15px #21931f;
}

a.card__link:not(:last-child) {
	padding-right: 13px;
}

.footer {
	text-align: center;
	font-size: 40px;
	background: linear-gradient(180deg, rgb(42, 102, 222), rgb(224, 241, 5));
	padding: 20px;
	color: #37393f;
	font-weight: 600;
}
