@import url(fonts.css);
@import url(reset.css);

body {
	color: #7d7d7d;
	font-family: "Inter";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}

header {
	background-color: #40ddb6;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	height: 50px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.why-us {
	line-height: 1.46;
	max-width: 692px;
	margin: 0 auto;
	border: 3px solid blue;
	padding: 10px;
	margin-bottom: 40px;
}

h1,
.text h2,
.benefits-info h2 {
	color: #37393f;
	font-family: "Poppins";
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
}

h1 {
	margin-bottom: 3px;
}

p:not(:last-child) {
	margin-bottom: 42px;
}

h3 {
	color: #6b77e5;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
}

.text h3 {
	margin-bottom: 12px;
}

.text {
	margin-bottom: 40px;
}

.benefits-wrapper {
	font-weight: 0;
	margin-bottom: 48px;
}

.benefits-info {
	display: inline-block;
	max-width: 332px;
	vertical-align: top;
}

.benefits-photo {
	display: inline-block;
	margin-right: 29px;
	max-width: 325px;
	vertical-align: middle;
}

img {
	max-width: 325px;
	min-height: 271px;
	width: 100%;
}

.benefits-info h2 {
	font-size: 25px;
	margin-bottom: 15px;
}

.benefits-info h3 {
	color: #40ddb6;
	margin-bottom: 23px;
}

li:not(:last-child) {
	margin-bottom: 31px;
}

li {
	background: url(../img/vector.svg) 0 0 no-repeat;
	padding-left: 31px;
	padding-top: 2px;
}
/* =========================== We Care ======================================== */
.we-care {
	max-width: 673px;
	margin-bottom: 40px;
	border: 3px solid green;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 41px;
}

.we-care-text h3 {
	color: #37393f;
	font-weight: 500;
	line-height: 1.2;
	font-size: 18px;
	background: url(../img/square.svg) 0 4px no-repeat;
	padding-left: 17px;
}

.we-care-text h2 {
	color: #37393f;
	font-family: "Poppins";
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.21;
	max-width: 413px;
	margin-bottom: 10px;
}

.we-care-text {
	margin-bottom: 48px;
}

.list h3 {
	color: #37393f;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
}

.list li {
	border: 1px solid #e3e3e3;
	padding: 28px 41px 28px 84px;
	background: url(../img/vector.svg) 38px 28px no-repeat;
}

.list {
	margin-bottom: 43px;
}

.we-care a {
	background: #6b77e5;
	color: #fff;
	display: inline-block;
	padding: 21px 35px;
	text-transform: capitalize;
}

.we-care a:hover {
	color: red;
	background: #0f1eaa;
	transition: 2s;
}
/* =================================how we==================================== */

.how-we {
	max-width: 1220px;
	font-size: 0;
	margin: 0 auto;
	margin-bottom: 41px;
}

.how-we-text {
	text-align: center;
	margin-bottom: 41px;
}

.how-we-block-text-1 p,
.how-we-block-text-2 p,
.how-we-block-text-3 p {
	color: #7d7d7d;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
}

.how-we-block-text-1::before,
.how-we-block-text-2::before,
.how-we-block-text-3::before {
	content: "";
	display: inline-block;
	margin-top: -94px;
	vertical-align: top;
	border-radius: 50%;
	width: 72px;
	height: 72px;
	background: url(../img/date.svg) no-repeat;
}

.how-we-block-text-2::before {
	background: url(../img/puzzle.svg) no-repeat;
}

.how-we-block-text-3::before {
	background: url(../img/icon.svg) no-repeat;
}

.how-we h3 {
	color: #37393f;
	font-family: "Inter";
	font-size: 18px;
	font-weight: 500;
}

.how-we h3::before {
	content: "";
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
	display: inline-block;
}

.how-we h2 {
	color: #37393f;
	font-family: "Poppins";
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.21;
}

.how-we-block-1,
.how-we-block-2,
.how-we-block-3 {
	max-width: 386px;
	display: inline-block;
	background: #f4f4f4;
	padding: 58px 43px;
	text-align: center;
	margin-right: 31px;
	margin-top: 36px;
}

.how-we-block-3 {
	margin-right: 0;
}

.how-we h4 {
	color: #37393f;
	font-family: "Poppins";
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 127%;
	margin-bottom: 16px;
}

.how-we a {
	color: #6b77e5;
	font-family: "Inter";
	font-size: 18px;
	font-weight: 600;
}

.how-we a:hover {
	border: 3px solid red;
	padding: 15px;
}
/* ============================jewells===================================== */

.jevells {
	max-width: 1600px;
	margin: 0 auto;
	color: #000;
	font-family: "Cormorant Infant";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4;
	padding: 15px;
	margin-bottom: 21px;
}

.jevells-info-text {
	display: inline-block;
	vertical-align: top;
}

.jevells-info-text h1 {
	font-family: "Cormorant Infant";
	font-size: 60px;
	line-height: 1.15;
	max-width: 488px;
	display: inline-block;
	padding-top: 150px;
	vertical-align: middle;
}

.jevells-info-text h1::after {
	content: "";
	background: #78473b;
	width: 304px;
	height: 3px;
	display: block;
	margin-top: 13px;
}

.jevells-info {
	font-size: 0;
	display: inline-block;
}

.jevells-info-photo h3,
.jevells-info-photo span {
	color: #000;
	font-family: "Cormorant Infant";
	font-size: 24px;
	line-height: 1.4;
}

.jevells-info-photo {
	display: inline-block;
	min-width: 713px;
}

.photo-wrapper-second {
	display: inline-block;
	vertical-align: top;
	max-width: 334px;
	margin-bottom: 25px;
}

.photo-wrapper-second h2 {
	font-size: 46px;
	line-height: 1.13;
	max-width: 339px;
	margin-bottom: 31px;
}

.photo-wrapper-first,
.photo-wrapper-second-photo {
	display: inline-block;
	vertical-align: top;
	max-width: 334px;
	max-height: 381px;
	border: 1px solid #000;
}

.photo-wrapper-first img,
.photo-wrapper-second-photo img {
	display: inline-block;
	vertical-align: top;
	margin: 9px 0px 0px 10px;
	max-width: 334px;
	width: 100%;
}
.jevells-info-photo a {
	display: inline-block;
}

.jevells-info-photo a:not(:last-child) {
	margin-right: 45px;
}

.jevells-info-photo a:last-child {
	vertical-align: top;
}

.photo-wrapper-first {
	margin-bottom: 25px;
	margin-top: 25px;
}

.jevells-info-photo a :hover {
	border-radius: 20%;
}

.jevells-info-photo h3:hover,
.jevells-info-photo span:hover {
	color: red;
	background: #0f1eaa;
	transition: 1s;
}
/* ==========================================Game=================================== */
.game h3 {
	text-align: center;
	font-size: 40px;
}

.game-block {
	width: 1000px;
	height: 760px;
	background-color: #40ddb6;
	border: 2px solid rgb(33, 33, 33);
	border-radius: 15px;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 42px;
}

.game-block-start {
	width: 50px;
	height: 50px;
	background-color: #5c090d;
}

.game-block-start:hover ~ .game-block-line-1,
.game-block-line-1:hover,
.game-block-line-1:hover ~ .game-block-line-2,
.game-block-line-2:hover,
.game-block-line-2:hover ~ .game-block-line-3,
.game-block-line-3:hover,
.game-block-line-3:hover ~ .game-block-line-4,
.game-block-line-4:hover,
.game-block-line-4:hover ~ .game-block-line-5,
.game-block-line-5:hover,
.game-block-line-5:hover ~ .game-block-line-6,
.game-block-line-6:hover,
.game-block-line-6:hover ~ .game-block-finish,
.game-block-finish:hover {
	visibility: visible;
}

[class*="-line"] {
	background-color: #142464;
	visibility: hidden;
}

.game-block-line-1 {
	width: 800px;
	height: 50px;
}

.game-block-line-2 {
	width: 50px;
	height: 100px;
	margin-left: 750px;
}

.game-block-line-3 {
	width: 600px;
	height: 50px;
	margin-left: 200px;
}

.game-block-line-4 {
	width: 45px;
	height: 100px;
	margin-left: 200px;
}

.game-block-line-5 {
	width: 500px;
	height: 35px;
	margin-left: 200px;
}

.game-block-line-6 {
	width: 25px;
	height: 300px;
	margin-left: 675px;
}

.game-block-finish {
	width: 100px;
	height: 50px;
	background-color: #e34c4c;
	margin-left: 658px;
	visibility: hidden;
	color: #000;
	padding: 5px;
	text-align: center;
}
/* ===============================Practica====================================== */
.practica h3 {
	text-align: center;
	font-size: 30px;
}

.practica h4 {
	color: #360316;
	font-weight: 700;
	font-size: 20px;
}
.hover,
.focus,
.visited,
.after-befor {
	max-width: 1000px;
	border: 5px solid green;
	border-radius: 10px;
	text-align: center;
	background-color: #2b0a65;
	padding: 15px;
	margin: 0 auto;
	margin-bottom: 41px;
}
.hover a,
.focus a,
.visited a,
.after-befor a {
	display: block;
	color: #000;
}

.hover a:not(:last-child),
.focus a:not(:last-child),
.visited a:not(:last-child),
.after-befor a:not(:last-child) {
	margin-bottom: 15px;
}

.hover a:hover:nth-child(odd) {
	color: #e34c4c;
}

.hover a:hover:nth-child(even) {
	text-decoration: underline;
	color: green;
}

.hover a:hover:last-child {
	font-size: 25px;
	color: #5c090d;
}

.focus {
	border: 5px solid rgb(0, 49, 128);
	background-color: #0a6522;
}

.focus a:focus:nth-child(2n + 1) {
	color: #5c090d;
}

.focus a:focus:nth-child(2) {
	background-color: #0a095c;
}

.visited :visited {
	color: #65570a;
}
footer {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	background-color: #40ddb6;
}
