@import url("fonts.css");
@import url("reset.css");
header {
	color: blueviolet;
	text-align: center;
}

header b {
	color: brown;
}

.block {
	color: aqua;
}

.block p {
	color: blueviolet;
	line-height: 2;
}

#work {
	text-decoration: underline;
	text-transform: uppercase;
	word-spacing: 20px;
}

main {
	color: black;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
}

/* .block div > h3 {
	color: red;
} */

#typewriter {
	color: green;
	font-size: 30px;
	text-shadow: 2px 2px 5px blue;
}

.list > li {
	color: gold;
	text-align: right;
	letter-spacing: 5px;
}

li + li {
	color: greenyellow;
}

.title {
	color: #37393f;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 127%;
}

.title + p {
	color: #7d7d7d;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 146.187%;
}

.sub-title {
	color: #6b77e5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 127%;
}

.sub-title + p {
	color: #7d7d7d;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 146.187%;
}

.two-title {
	color: #37393f;
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 127%;
}
.two-title ~ p {
	color: #7d7d7d;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 146.187%;
}

.section-two li {
	color: #7d7d7d;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 146.187%;
}
